html, 
body,
#root, 
.App,
.base,
.main-app {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Muli', sans-serif !important;
    font-size: 100%;
    position: relative;
    background-color: var(--color-cream);
    overflow: hidden;
}

.mainBody {
    height: calc(100% - 66px);
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 600px){ @content } ;
    }
    @if $breakpoint == tab-portrait{
        @media (max-width: 600px){ @content } ;
    }
    @if $breakpoint == tab-landscape{
        @media (max-width: 992px){ @content } ;
    }
    @if $breakpoint == big-desktop{
        @media (min-width: 1200px){ @content } ;
    }
}